

.map-box {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    border: 1px solid rgb(50, 149, 206);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
}

.detail {
    border: solid blue;
    height: 195px;
}