

.map-box {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* border: 0px solid rgb(50, 149, 206); */
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
}

.detail {
    /* border: 0px solid blue; */
    height: 195px;
}